# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

#Environments
.env

# Build artifacts
build/
dist/
*.egg-info/

# Output directories
out/
data/
work/

# VS Code
.vscode/

# OS garbage
.DS_Store
Thumbs.db
